:root {
  font-size: 16px;
  --color-light-blue: #b9dbed;
  --color-light-gray: #d1d1d1;
  --color-gray: #8f8f8f;
}

/* semantic color variables for this project */
:root {
  --header-bg: var(--color-light-blue);
  --content-horizontal-padding: 3rem;
  --border-light: var(--color-light-gray);
  --border-dark: var(--color-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}
