:root {
  font-size: 16px;
  --color-light-blue: #b9dbed;
  --color-light-gray: #d1d1d1;
  --color-gray: #8f8f8f;
}

:root {
  --header-bg: var(--color-light-blue);
  --button-hover: var(--color-light-blue);
  --inactive-button-color: var(--color-gray);
  --border-light: var(--color-light-gray);
  --border-dark: var(--color-gray);
  --content-horizontal-padding: 3rem;
  --sat: env(safe-area-inset-top, 0px);
  --sar: env(safe-area-inset-right, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
}

@media screen and (max-width: 1024px) {
  :root {
    --content-horizontal-padding: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
}

body {
  max-width: 1280px;
  line-height: 1rem;
  margin: 0 auto;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: var(--sat) var(--sar) var(--sab) var(--sal);
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

* {
  box-sizing: border-box;
}
